{%foreach $tplData.result as $item%}
<div class="c-row ecl-route-wide-cell{%if $item@last%} ecl-route-wide-last{%/if%}{%if $item@first && $displayNone >= 2%} ecl-route-wide-none{%/if%}">
<div class="c-span6">
<a target="_blank" href="{%call name="patchUrl" url=$item.href %}" class="ecl-route-wide-anti"><img src="{%$item.img|ssl_url_r%}"></a>
</div>
<div class="c-span15">
<a target="_blank" href="{%call name="patchUrl" url=$item.href %}" class="ecl-route-wide-anti ecl-route-wide-a">
{%$item.name|limitlen: 89%}
</a>
<div class="ecl-route-wide-line">
{%$okDate = array()%}
{%if !$item.date[0]%}
    {%$item.date=array($item.date)%}
    {%/if%}
    {%foreach $item.date as $date%}
    {%$ary = preg_split("/年|月|日/", $date)%}
    {%$compareDate = $ary[0]|cat:'年'%}
    {%if strlen($ary[1]) < 2 %}
        {%$compareDate = $compareDate|cat:'0'%}
        {%/if%}
        {%$compareDate = $compareDate|cat:$ary[1]|cat:'月'%}
        {%if strlen($ary[2]) < 2 %}
            {%$compareDate = $compareDate|cat:'0'%}
            {%/if%}
            {%$compareDate = $compareDate|cat:$ary[2]|cat:'日'%}
            {%$_compareDate = preg_split("/年/", $compareDate)%}
            {%if $compareDate >= $_date%}
                {%$tmp = array_push($okDate, $_compareDate[1])%}
                {%/if%}
                {%if $date@last%}
                {%$lastDate = $_compareDate[1]%}
                {%/if%}
                {%/foreach%}
                {%$okDate = array_slice($okDate, 0, 3)%}
            <span class="ecl-route-wide-label">出发日期：</span>{%if count($okDate) > 0%}{%join("/",$okDate)%}{%else%}{%$lastDate|escape:'none'%}{%/if%}
            </div>
            <div class="ecl-route-wide-line">
            <span class="ecl-route-wide-label">供应商：</span>{%$item.supplier|limitlen:40%}
        </div>
        </div>
        <div class="c-span3 c-span-last ecl-route-wide-padding">
        {%$item.price = str_replace(array("?","？","￥"),array("?", "?", "?"),$item.price)%}
    <div class="ecl-route-wide-price"><em>{%$item.price|limitlen:7%}</em>起</div>
<a target="_blank" href="{%call name="patchUrl" url=$item.href %}" class="c-btn c-btn-small">查看详情</a>
</div>
</div>
{%/foreach%}